.App {
  text-align: center;
}

.movie {
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.movie img {
  max-width: 200px;
  border-radius: 10px;
}

.movie ul {
  list-style-type: none;
  padding: 0;
}

.movie li {
  margin: 5px 0;
}
